body {
  max-width: 1080px;
  margin: 0 auto;
}

#logo {
  background: red;
  width: 200px;
  height: 60px;
  float: left;
}

.header {
  width: 100%;
  padding-top: 24px;

  ul {
    float: right;

    li {
      list-style: none;
      padding: 0 16px;
      float: left;
    }
  }
}

.hero {

}

.content-wrapper {

}

.content {

}

.sideabr {

}

.bottom {

}

.footer {

}
