input, textarea {
  font-family: $sans-serif;
  font-size: .875em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

#logo {
  background: url('../images/logo.png') no-repeat;
  width: 192px;
  height: 62px;
  float: left;
}

#search {
  float: right;
  margin-top: .5em;
}

.header {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid $light-border;

  ul {
    float: right;

    li {
      list-style: none;
      padding: 0 16px;
      float: left;

      a {
        font-weight: bold;
      }
    }
  }

  .responsive-nav {
    display: none;
  }
}

.footer {
  width: 100%;
  background: $light-background;
  text-align: center;
  padding: 2em 0;
}

.page-about {
  text-align: center;
}

#page-title {
  margin-top: 1em;
  font-size: 3em;
}

.about--header,
.about--team,
.about--offices-banner {
  padding: 4em 0;
}

.about--header {
  background: url('../images/team-banner.jpg') no-repeat center center $logo-blue;
  height: 406px;
  width: 100%;

  h2 {
    padding-top: 203px;
    margin-top: -27px;
  }
}

.about--paragraph {
  font-size: 1.2em;
  padding: 0 11em;
  color: $white;

  a {
    color: $white;
  }
}

.about--heading {
  color: $white;
  font-size: 3em;
  margin: 0;
}

.about--team {
  background: $light-background;

  h2 {
    font-size: 3em;
    margin: 0;
  }

  .about--paragraph {
    color: $text;
  }
}

.about--team-member {
  display: inline-block;
  margin: 2em 1.5em 0 1.5em;
  width: 200px;
  vertical-align: top;

  h4 {
    margin: .25em 0;
    font-size: 1.25em;
  }
}

.about--team-member--pic {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.about--offices-button {
  @include button;

  &:hover {
    background: $button-background;
    border: 1px solid $button-background;
  }
}

.about--offices-banner {
  background: $orange;
  width: 100%;
  color: $white;
}
