input, textarea {
  font-family: $sans-serif;
  font-size: .875em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

#logo {
  background: url('../images/logo.png') no-repeat;
  width: 192px;
  height: 62px;
  float: left;
}

#search {
  float: right;
  margin-top: .5em;
}

.header {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;

  ul {
    float: right;

    li {
      list-style: none;
      padding: 0 16px;
      float: left;

      a {
        font-weight: bold;
      }
    }
  }

  .responsive-nav {
    display: none;
  }
}

.footer {
  width: 100%;
  background: $light-background;
  text-align: center;
  padding: 2em 0;
}