input, textarea {
  font-family: $sans-serif;
  font-size: .875em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

#logo {
  background: url('../images/logo.png') no-repeat;
  width: 192px;
  height: 62px;
  float: left;
}

#search {
  float: right;
  margin-top: .5em;
}

.header {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid $light-border;

  ul {
    float: right;

    li {
      list-style: none;
      padding: 0 16px;
      float: left;

      a {
        font-weight: bold;
      }
    }
  }

  .responsive-nav {
    display: none;
  }
}

.footer {
  width: 100%;
  background: $light-background;
  text-align: center;
  padding: 2em 0;
}

.page-about {
  text-align: center;
}

#page-title {
  margin-top: 1em;
  font-size: 3em;
}

.about--header {
  background: url('../images/about-banner.jpg') no-repeat center center $logo-blue;
  height: 472px;
  width: 100%;
  overflow: hidden;

  h2 {
    padding-top: 140px;
  }

  a {
    text-decoration: underline;
  }
}

.about--paragraph {
  font-size: 1.2em;
  padding: 0 11em;
  color: $white;

  a {
    color: $white;
  }
}

.about--heading {
  color: $white;
  font-size: 3em;
  margin: 0;
}

.about--team {
  background: $light-background;
  padding-top: 4em;
  min-height: 1200px;

  h2 {
    font-size: 3em;
    margin: 0;
  }

  .about--paragraph {
    color: $text;
  }
}

.about--team-member,
.about--team--banner {
  opacity: 0;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;

  &.active {
    opacity: 1.0;
  }
}

.about--team--banner {
  margin: 4em auto -16px;
  width: 817px;
  height: 371px;
  position: relative;

  span {
    position: absolute;
  }

  .tooltip {
    cursor: help;
    filter: none;
    -webkit-filter: grayscale(0%);
    transition: all .2s ease;
    -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */

    &:hover {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.7\'/></filter></svg>#grayscale"); /* Firefox 10+ */
      filter: gray alpha(opacity=70); /* IE6-9 */
      -webkit-filter: grayscale(70%); /* Chrome 19+ & Safari 6+ */
    }
  }

  .team-accordian {
    width: 277px;
    height: 193px;
    bottom: 3px;
    left: 0;
    z-index: 1;
  }

  .team-beer {
    width: 212px;
    height: 214px;
    bottom: 0;
    right: 0;
    z-index: 7;
  }

  .team-bees {
    width: 210px;
    height: 200px;
    bottom: 0;
    right: 164px;
    z-index: 8;
  }

  .team-books {
    width: 162px;
    height: 304px;
    top: 0;
    left: 141px;
    z-index: 5;
  }

  .team-plane {
    width: 350px;
    height: 258px;
    top: 10px;
    right: 51px;
    z-index: 3;
  }

  .team-shoe {
    width: 119px;
    height: 48px;
    top: 132px;
    left: 21px;
    z-index: 2;
  }

  .team-skuba {
    width: 242px;
    height: 334px;
    top: 10px;
    left: 287px;
    z-index: 4;
  }

  .team-snowboard {
    width: 519px;
    height: 101px;
    bottom: 0;
    left: 80px;
    z-index: 6;
  }

  .team-arrow {
    width: 150px;
    height: 75px;
    left: 0;
    top: 0;
  }
}

.about--team-member {
  display: inline-block;
  margin: 2em 1.5em 0 1.5em;
  width: 200px;
  vertical-align: top;

  h4 {
    margin: 1em 0 0;
    font-size: 1.25em;
  }
}

.about--team-member--pic {
  height: 200px;
  width: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  background: black;

  &:hover {
    img {
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      opacity: 0.5;
    }

    span {
      opacity: 1.0;
    }
  }

  img {
    border-radius: 100px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  span {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0;
    font-weight: bold;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    line-height: 200px;
    text-align: center;
    color: white;
  }
}

.about--team-member--pic-mask {
  background: url('../images/member-pic-mask.png') no-repeat center center transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.about--offices-button {
  @include button;

  &:hover {
    background: $button-background;
    border: 1px solid $button-background;
  }
}

.about--offices-banner {
  background: url('../images/offices-banner.jpg') no-repeat center center $orange;
  height: 509px;
  width: 100%;
  color: $white;

  .about--heading {
    padding-top: 145px;
  }
}

// Quick and dirty desktop-first responsive design, just for this prototype ;)
@media screen and (max-width: 1080px) {
  img {
    max-width: 100%;
  }

  .content,
  .sidebar {
    width: 100%;
  }

  .header {
    padding: 0 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    ul,
    #search {
      display: none;
    }

    .responsive-nav {
      display: block;
      float: right;
      margin-top: 1.3em;
    }
  }
}

@media screen and (max-width: 768px) {
  .about--header {
    background: $logo-blue;
    height: auto;
    padding: 4em 0;

    .about--heading {
      padding: 0;
    }
  }

  .about--team {
    padding-bottom: 4em;
  }

  .about--offices-banner {
    background: $orange;
    height: auto;
    padding: 4em 0;

    .about--heading {
      padding-top: 0;
    }
  }

  .about--paragraph {
    padding: 0 2em;
  }
}

@media screen and (max-width: 830px) {
  .about--team--banner {
    display: none;
  }
}