// Colors
$link: #137cc1;
$text: #555555;
$text-light: #c7c7c7;
$headline: #333333;
$headline-light: #4f4f4f;
$light-background: #f5f5f5;
$light-border: #e6e6e6;
$light-blue: #b2c8d4;
$button-background: #137cc1;
$button-background-dark: #1067A2;
$footer-text: #48555e;
$blue-background: #273138;
$orange: #fd7037;
$orange-dark: #fd5a19;
$gold: #ffd76d;
$gold-light: #fff0c2;
$green: #00be4c;
$green-dark: #00a945;
$light-green: rgba(156,210,0,1);
$red: #c60e00;
$white: #FFFFFF;
$logo-blue: #137cc1;

// Fonts
$sans-serif: "proxima-nova", Helvetica, Arial, Tahoma, sans-serif;
$serif: "chaparral-pro", Georgia, "Times New Roman", "DejaVu Serif", serif;

// Jared grid variables:
$total-columns: 6;
$column-width: 9.375%;  // 30px / 320px
$gutter-width: 6.25%;   // 20px / 320px
$grid-padding: $gutter-width;

// Sass/Compass doesn't provide a better way to deal with these keyframe
// statements.
@-webkit-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
@-moz-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
@-o-keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}
