input, textarea {
  font-family: $sans-serif;
  font-size: .875em;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

#logo {
  background: url('../images/logo.png') no-repeat;
  width: 192px;
  height: 62px;
  float: left;
}

#search {
  float: right;
  margin-top: .5em;
}

.header {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;

  ul {
    float: right;

    li {
      list-style: none;
      padding: 0 16px;
      float: left;

      a {
        font-weight: bold;
      }
    }
  }

  .responsive-nav {
    display: none;
  }
}

.hero {
  background: #093a54;
  width: 100%;
  overflow: hidden;
  padding-top: 2em;

  &.stacked {
    @include hero-stacked;
  }
}

.hero-shadow {
  position: relative;
  overflow: hidden;
  height: 100%;
  -webkit-box-shadow: #08354d 8px 8px 0;
  -moz-box-shadow: #08354d 8px 8px 0;
  box-shadow: #08354d 8px 8px 0;
}

.video-player {
  width: 760px;
  height: 428px;
  -webkit-box-shadow: rgba(0,0,0, 0.2) 8px 0 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 8px 0 0;
  box-shadow: rgba(0,0,0,0.2) 8px 0 0;
  position: relative;
  z-index: 3;
  float: left;
  background: #00293f;
}

.video-wrapper {
  padding-top: 0;
  font-size: 0;
}

.hero-sidebar {
  width: 320px;
  float: right;
  position: relative;
}

#video_dock_transcript {
  border-radius: 4px;
  margin: 0;
}

.jwcontrols {
  #video_dock {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;

    .jwdockbuttons {
      width: 42px;

      button {
        height: 32px;
        margin-bottom: 8px;
      }

      .capLeft,
      .capRight,
      .divider {
        display: none;
      }
    }

    .jwoverlay {
      margin-top: 0;
      margin-left: 0 !important;
      left: auto;
      right: 58px;
      white-space: nowrap;
    }

    #video_dock_layout_tooltip {
      top: 10px;
    }

    #video_dock_transcript_tooltip {
      top: 50px;
    }

    #video_dock_speed_tooltip {
      top: 90px;
    }
  }
}

.transcript {
  display: none;
  position: absolute;
  width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  background: $light-background;
  z-index: 2;
  font-size: .875em;
  box-sizing: border-box;
}

.transcript-header {
  padding: 1em 1em 1em 1.5em;
  border-bottom: 1px solid $light-border;

  label {
    display: none;
  }

  .filter {
    padding: .5em;
    width: 12em;
  }

  .close {
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 17px;
    height: 16px;
    text-align: center;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}

.transcript-list {
  position: absolute;
  margin: 0;
  overflow-y: auto;
  top: 4.2em;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 1em 1em 1.5em;

  li {
    border-bottom: 1px solid $light-border;
    padding-bottom: .5em;
    margin: .5em 0;
    list-style: none;
  }

  .time {
    display: block;
    float: left;
  }

  .text {
    padding-left: 3em;
  }
}

.playlist {
  position: relative;
  z-index: 1;
}

.playlist-header {
  display: table-cell;
  vertical-align: middle;
  height: 84px;
  width: 320px;
  padding: 0 2em;
  background: #00293f;

  h2 {
    @include block-title;
    color: white;
    margin: 0;
  }
}

.icon-check {
  width: 17px;
  height: 16px;
  display: inline-block;
  line-height: 2em;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 5px;
}

.playlist-content {
  background: white;
  height: 344px;
  overflow-y: auto;
  font-weight: bold;
  font-size: .85em;
  @include scrollbar;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      position: relative;
      border-bottom: 1px solid $light-border;

      &:last-child {
        border-bottom: 0;
      }

      a {
        display: block;
        padding: 1em 3.5em 1em 4em;

        &:hover {
          background: $light-background;
        }

        &.active {
          background: #00be4c;
          color: white;

          .count {
            text-indent: -9999px;
            width: 16px;
            height: 16px;
            top: 1.25em;
            margin-left: -.25em;

            @include icon-sprite(play);
          }

          .duration {
            color: white;
          }
        }
      }
    }
  }

  .count {
    color: $text;
    position: absolute;
    left: 2em;
  }

  .duration {
    position: absolute;
    right: 1.5em;
    color: $text-light;
    font-size: .8em;
    top: 1.6em;
  }
}

.js-tabs {
  padding: 0;
  margin: 2em 0 0;
  overflow: hidden;

  li {
    list-style: none;
    float: left;

    a {
      display: block;
      padding: .5em 1.5em;
      color: white;
      border-top: 5px solid transparent;
      font-weight: bold;
      background-position: 1.5em center;
      background-repeat: no-repeat;

      &.active {
        background-color: white;
        color: $text;
        border-top: 5px solid $button-background;
      }

      span {
        display: inline-block;
        margin-top: -2px;
        margin-right: .5em;
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }
  }
}

.description {
  span {
    @include icon-sprite(description-white);
  }

  &:hover {
    span {
      @include icon-sprite(description-orange);
    }
  }

  &.active {
    span {
      @include icon-sprite(description-blue);
    }
  }
}

.reviews {
  span {
    @include icon-sprite(star-white);
  }

  &:hover {
    span {
      @include icon-sprite(star-orange);
    }
  }

  &.active {
    span {
      @include icon-sprite(star-blue);
    }
  }
}

.quiz-tab {
  span {
    @include icon-sprite(quiz-white);
  }

  &:hover {
    span {
      @include icon-sprite(quiz-orange);
    }
  }

  &.active {
    span {
      @include icon-sprite(quiz-blue);
    }
  }
}

.content-wrapper {
  overflow: hidden;
}

.content {
  float: left;
  width: 730px;
  padding-right: 30px;
  position: relative;
  padding-bottom: 3em;

  h1 {
    margin-top: 1em;
  }
}

.icon-check-big {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
  margin-left: .5em;
}

.add-to-queue {
  position: absolute;
  top: 2em;
  right: 30px;
  background-color: #00be4c;
  border-radius: 5px;
  border: 1px solid transparent;
  display: block;
  padding: .5em 1.5em;
  color: white;
  font-weight: bold;
  font-size: .875em;

  .icon {
    @include icon-sprite(plus);
    margin-right: .5em;
    width: 17px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }

  &:hover {
    opacity: 0.9;
    color: white;
  }

  &.active {
    background-color: $light-background;
    border: 1px solid $light-border;
    color: $text;

    .icon {
      @include icon-sprite(list);
    }

    &:hover {
      background-color: #ec5448;
      color: white;

      .icon {
        @include icon-sprite(cross);
      }
    }
  }
}

.meta {
  color: $text-light;
  font-size: .8em;
  font-weight: bold;

  .length {
    color: $text;
    padding-right: .5em;
  }

  .tags {
    padding: 0 .5em;
  }

  .features {
    padding-left: .5em;

    img {
      vertical-align: middle;
      margin-top: -2px;
    }
  }
}

.body {
  margin-bottom: 2em;
}

.embed {
  display: block;
}

.embed-wrapper {
  display: none;
}

label {
  font-weight: bold;
}

.loading,
.comments,
.quiz {
  display: none;
}

.review-average-wrapper {
  border-bottom: 1px solid $light-border;
  padding-bottom: 2em;
}

.review-average {
  vertical-align: middle;
}

.comment {
  position: relative;
  margin: 2em 0;
  padding-bottom: 2em;
  border-bottom: 1px solid $light-border;

  >img {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.empty-stars {
  vertical-align: middle;
}

textarea {
  width: 100%;
  border: 1px solid $light-border;
  margin: 1em 0;
  border-radius: 5px;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.sidebar {
  background: $light-background;
  border-left: 1px solid $light-border;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 320px;
  float: right;
}

.block {
  border-bottom: 1px solid $light-border;
  margin: 0 2em 2.5em;
  padding-bottom: 2.5em;
  overflow: hidden;

  &:first-child {
    margin-top: 2.5em;
  }

  &:last-child {
    border-bottom: none;
  }
}

.block-title {
  @include block-title;
}

.series-progress {
  float: left;
  height: 85px;
  width: 85px;
  position: relative;
  overflow: hidden;

  .drop {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .water {
    transition: all 2s;
    -webkit-transition: all 2s;
    height: 100%;
    width: 100%;
    top: 80px;
    position: absolute;
    z-index: 1;
  }

  .percent {
    position: absolute;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 85px;
    padding-top: 5px;
    z-index: 3;
  }
}

.remaining {
  float: left;
  margin: 1.25em 0 0 .5em;

  h3 {
    color: $link;
    margin: 0;
  }
}

.resources {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    line-height: 2em;

    a {
      font-weight: bold;
      padding-left: 2.25em;
      display: block;
      line-height: 22px;
      margin-bottom: .5em;
      @include icon-sprite(download-blue);

      &:hover {
        @include icon-sprite(download-orange);
      }
    }
  }
}

.trainer {
  overflow: hidden;
  margin-bottom: 1em;

  img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    float: left;
  }
}

.trainer-name {
  float: left;
  line-height: 1.3em;
  margin: 1em;

  a {
    display: block;
    font-weight: bold;
  }

  span {
    font-size: 0.9em;
  }
}

.bottom {
  width: 100%;
  background: #fd7037;
}

.cover-image {
  width: 100%;
  display: block;
}

.footer {
  width: 100%;
  background: $light-background;
  text-align: center;
  padding: 2em 0;
}

// No series example for video.html
.no-series {
  .video-player {
    width: 100%;
    height: auto;
  }

  .transcript {
    height: 428px;
    position: relative;
    border-bottom: 1px solid $light-border;
    clear: both;
    width: 100%;
  }

  .jwdockbuttons button:first-child {
    display: none;
  }

  .footer {
    border-top: 1px solid $light-border;
  }
}

// Quick and dirty desktop-first responsive design, just for this prototype ;)
@media screen and (max-width: 1080px) {
  @include hero-stacked;

  img {
    max-width: 100%;
  }

  .content,
  .sidebar {
    width: 100%;
  }

  .header {
    padding: 0 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    ul,
    #search {
      display: none;
    }

    .responsive-nav {
      display: block;
      float: right;
      margin-top: 1.3em;
    }
  }

  .hero {
    background: none;
    padding-top: 0;
  }

  .hero-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .jwdockbuttons {
    button:first-child {
      display: none;
    }
  }

  .transcript {
    height: 428px;
    position: relative;
    border-bottom: 1px solid $light-border;
  }

  .playlist-content {
    height: auto;
  }

  .js-tabs {
    padding-left: 1em;
    margin: 1em 0 0;

    li {
      a {
        color: $text;
        border-top: none;
        border-bottom: 5px solid transparent;
        padding: .5em 1em;

        &.active {
          border-top: none;
          border-bottom: 5px solid #137cc1;
        }
      }
    }
  }

  .description {
    span {
      @include icon-sprite-position(description-blue);
    }
  }

  .reviews {
    span {
      @include icon-sprite-position(star-blue);
    }
  }

  .quiz-tab {
    span {
      @include icon-sprite-position(quiz-blue);
    }
  }

  .content {
    padding: 0 2em 2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .add-to-queue {
    position: static;
    float: left;
    margin-bottom: 2em;
  }

  .comment {
    >img {
      position: static;
    }
  }

  .loading,
  .node,
  .comments,
  .quiz {
    clear: left;
  }

  .sidebar {
    border-left: 0;
    border-top: 1px solid $light-border;
  }
}